.jumbotron{
	background-color: #16697a;
	color: white;
	font-family: Arial;
	text-align: center;
}

.d-flex{
	margin-top: 70px;
}

.card-body > h5 {
	font-family: Arial;
	text-align: center;
	font-size: 30px;
}

.card{
	background-color: #cad2c5;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-top: 2px; 
}


.foo{
	color:white;
	margin-top: 25px;
	background-color: #2f3e46;
}

.foo h1{
	font-family: Arial;
	font-size: 20px;
}


footer > .container > .row > div  {
	margin-top: 10px;

}